:root{
  --main-color: rgb(6, 124, 40);
  --blue-color: rgb(64, 98, 152);
}

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Caveat:wght@400;500;600;700&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&display=swap');


.locatoin,
.type,
.catigory{
    padding: 5px 15px;
}

.locatoin a{
    color: #333;
    font-size: 20px;
    width: fit-content;
}

.locatoin a svg{
    margin: 5px;
    transform: translateY(3px);
}

.locatoin h5{
    margin: 10px 0 0;
    color: #555;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.locatoin h5 svg{
    color: var(--main-color);
    font-size: 18px;
}

/* type for */

.type p,
.catigory p{
font-weight: 500;
letter-spacing: 1px;
font-size: 20px;
margin: 0;
color: #333;
}

.catigory ul,
.type ul{
    display: flex;
}

ul>a,
ul button,
.locatoin button{
    margin: 0px 10px 0  0;
    border-radius: 20px;
border: 1px solid #555;
    padding: 10px 15px;
    color: #333; 
    background-color: #efefef;
    box-shadow: 5px 5px 10px #555 ;
}





.menu{
    display: flex;
    justify-content: center;
width: 100%;
margin: 10px 0;
}

.filter,
.map{
 cursor: pointer;   
 width: fit-content;
  display: flex;
    align-items: center;
    color: var(--main-color);
    justify-content: center;
    margin: 0px 10px;
}

.filter svg,
.map svg{
    font-size: 35px;
}

.filter span,
.map span{
    color: var(--blue-color);
    font-size: 25px;
    margin: 5px;
    text-decoration: underline;
    font-weight: 900;
    font-family: 'Akaya Kanadaka', cursive;

}

.container{
    width: 95%;
    margin: 10px auto 20px;
    overflow: hidden;
    padding: 10px 0;
   
   
}
.catigory ul,
.type ul{
    padding: 0;
}

.navigatoin{
    border: 1px solid #555;
    border-radius: 20px;
    height: fit-content;
    padding: 5;
    position: relative;
    background-color: white;
    z-index: 100000000;
    margin: 10px 0;
}

.navigatoin .close{
position: absolute;
top: 20px;
right: 20px;
cursor: pointer;
}
.navigatoin .close svg{
font-size: 40px;
color: var(--blue-color);
}

/* } */

.flex{
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
.flex{
    flex-direction: row;
}
}

.none{
    display: none;
}

.resolt{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}


.article{
   display: flex;
   flex-direction: column;
position: relative;
}



.article  img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 0;
    justify-self: center;
    align-self: center;
}

.article  h5,
.article  h4,
.article  h3{
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
    color: #333;
    font-family: 'Akaya Kanadaka', cursive;
    
}

.article  h3{
text-decoration: underline;
font-size: 23px;
}

.article  h4{
color: #555;
font-weight: 300;
font-size: 16px;
/* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.article h5 {
    text-decoration: underline;
font-size: 16px;
}

.l{
    position: relative;
}

.s{
    position: absolute;
    color: white;
    top: 50%;
    font-size: 30px;
    transform: translateY(-100%);
    z-index: 100;
    display: none;
}

.left{
    left: 10px;
}

.right{
    right: 10px;
}

.l:hover .s{
    display: block;
}

/* mapping */
.green{
    background-color: green;
    color: white;
}

.mapp{
    width: 95%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 10px;
}

.mapp .leaflet-container{
    width: 95%;
    height: 100%;
}

.i{
    border-radius: 50%;
}

